@color-flavia-blue: blue;
@color-vlavia-orange: orange;
@color-flavia-grey: grey;
body{
  max-width: 1000px;
  margin: 0 auto;
}
header{
  width: 100%;
}
table{
  border: 1px solid @color-flavia-blue;
  text-align: left;
  border-collapse: collapse;
  th{
    font-size: 17px;
    padding-left: 8px;
    padding-right: 10px;
    border-bottom: 1px solid @color-flavia-blue;
    background: rgba(255, 165, 0, 0.4);
    height: 40px;
  }
  td{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
  }
}
article{
  clear: both;
  position: relative;
  top: -42px;
}
.logo{
  width: 70px;
  float: right;
  padding-left: 10px;
  padding-top: 5px;
}
.flavia{
  color: @color-flavia-grey;
  float: right;
}
.seperate{
  border-color: @color-vlavia-orange;
  clear: both;
}
.search-field{
  margin-bottom: 5px;
  width: 250px;
  height: 25px;
  padding-left: 5px;
}
.search-icon{
  position: relative;
  top: 12px;
  height: 35px;
  width: 35px;
}
.even{
  background: rgba(0, 0, 255, 0.4);
}
.odd{
  background-color: #ffffff;
}

