@color-flavia-blue: #080f60;
@color-flavia-grey: #808080;
@color-white: #ffffff;
body{
  max-width: 1000px;
  margin: 0 auto;
}
header{
  width: 100%;
}
table{
  border: 1px solid @color-flavia-blue;
  text-align: left;
  border-collapse: collapse;
  th{
    color: @color-white;
    font-size: 17px;
    padding-left: 18px;
    padding-right: 20px;
    border-bottom: 1px solid @color-flavia-blue;
    background: @color-flavia-blue;
    height: 40px;
    &:last-child{
      text-align: right;
    }
  }
  td{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    &:last-child{
      width: 80px;
      text-align: right;
    }
  }
}
article{
  clear: both;
  position: relative;
  top: -46px;
}
.logo{
  width: 70px;
  float: right;
  padding-left: 10px;
  padding-top: 5px;
}
.flavia{
  color: @color-flavia-grey;
  float: right;
}
.search-field{
  margin-bottom: 5px;
  width: 250px;
  height: 25px;
  padding-left: 5px;
}
.search-icon{
  position: relative;
  top: 12px;
  height: 35px;
  width: 35px;
}
.button-icon{
  height: 35px;
  width: 35px;
}
.even{
  background: rgba(8, 15, 96, 0.7);
}
.odd{
  background-color: @color-white;
}

