<article class="addresses">
    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>City</th>
                <th>Country</th>
                <th>Group</th>
                <th>
                    <a href><img src="/images/Reload.png" class="button-icon"></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="address in addresses track by address.id" ng-class-even="'even'" ng-class-odd="'odd'">
                <td>{{address.firstname}}</td>
                <td>{{address.lastname}}</td>
                <td>{{address.city}}</td>
                <td>{{address.country}}</td>
                <td>{{address.group}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</article>