<article class="addresses">
    <input type="text" placeholder="Search" ng-model="searchFilter">
    <table>
        <thead>
            <tr>
                <th ng-repeat="col in columns" ng-class="{ordered: order === col, reversed: reverseOrder}">{{col | capitalize}}</th>
                <th>
                    <a ng-href="/add"><img src="/images/Plus.png" class="button-icon"></a>
                    <a href ng-click="reload()"><img src="/images/Reload.png" class="button-icon"></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="address in addresses | filter:searchFilter track by address.id" ng-class-even="'even'" ng-class-odd="'odd'">
                <td ng-repeat="col in columns">{{address[col]}}</td>
                <td>
                    <a ng-href="/edit/{{address.id}}"><img src="/images/Tools.png" class="button-icon"></a>
                </td>
            </tr>
        </tbody>
    </table>
</article>