<article>
    <form>
        <fieldset>
            <legend>Person</legend>
            <label for="firstname"></label>
            <input id="firstname" type="text">
            <label for="lastname"></label>
            <input id="lastname" type="text">
            <label for="group"></label>
            <input id="group" type="text">
        </fieldset>
        <fieldset>
            <legend>Geo</legend>
            <label for="street"></label>
            <input id="street" type="text">
            <label for="city"></label>
            <input id="city" type="text">
            <label for="zipcode"></label>
            <input id="zipcode" type="text">
            <label for="country"></label>
            <input id="country" type="text">
        </fieldset>
        <fieldset>
            <button>Cancel</button>
            <button>Save</button>
            <button>Delete</button>
        </fieldset>
    </form>
</article>