<article>
    <form>
        <fieldset>
            <legend>Person</legend>
            <label for="firstname">Firstname:</label>
            <input id="firstname" type="text">
            <label for="lastname">Lastname:</label>
            <input id="lastname" type="text">
            <label for="group">Group:</label>
            <input id="group" type="text">
        </fieldset>
        <fieldset>
            <legend>Geo</legend>
            <label for="street">Street:</label>
            <input id="street" type="text">
            <label for="city">City:</label>
            <input id="city" type="text">
            <label for="zipcode">Zipcode:</label>
            <input id="zipcode" type="text">
            <label for="country">Country:</label>
            <input id="country" type="text">
        </fieldset>
        <fieldset>
            <button>Cancel</button>
            <button>Save</button>
            <button>Delete</button>
        </fieldset>
    </form>
</article>